pyrofork
motor
structlog
tgcrypto
httpx[socks]
openai
imgkit
pillow
jinja2
fal_client
matplotlib
numpy
pytz
apscheduler
pydantic
opencv-python
pyfiglet
wand
python-magic
markovify
scipy
scikit-learn
pandas
seaborn
pykeyboard